<!DOCTYPE html>
<html>
  <head>
    <title>Asana</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Gorditas" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
  </head>

  <body>
    <script type="text/javascript">
      window.exclamation = "<%= image_url('exclamation.png') %>";
      window.starSvg = "<%= image_url('star.svg') %>"
      window.caretSvg = "<%= image_url('caret-symbol.svg') %>"
    </script>
    <%= yield %>
  </body>
</html>
